<!doctype html>
<html>
<head>
  <title>Grades</title>
  <link rel="stylesheet" href="hacks.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/qstyles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
  function getOption(x){
    var obj = document.getElementById(x);
    var choice = obj.selectedIndex;
    return choice;
  }
</script>
<script type="text/javascript">
    function functionOne() { }
    function functionTwo() { alert('You clicked the bottom text'); }
</script>

<header>
  <ul id="bod">
      <h3>Upload Transcript</h3>
        <input type="file" class="form-control-file text-cenet" id="exampleInputFile" aria-describedby="fileHelp">
  </ul>
</header>
<div class="padded">
  <div>
    <h3><span></span>Desired Grade</h3>
  </div>
  <br>
  <div class="btn-group" id="gradeFormat">
    <button class="btn dropdown-toggle" data-toggle="dropdown">Letter Scale<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="" id="action-2" onClick="functionOne()">4.3 Scale</a></li>
      <li><a href="" id="action-3" onClick="functionTwo()">4.0 Scale</a></li>
      <li><a href="" id="action-2" onClick="functionThree()">100 Scale</a></li>
    </ul>
  </div>
  <div class="btn-group" id="grade">
    <button class="btn dropdown-toggle" data-toggle="">Letter Scale<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" id="action-2">4.3 Scale</a></li>
      <li><a href="#" id="action-3">4.0 Scale</a></li>
      <li><a href="#" id="action-2">100 Scale</a></li>
    </ul>
  </div>
</div>